* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    @media(min-width:1025px) {
        scroll-behavior: smooth;
    }
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

}

.locked {
    overflow: hidden;
}